<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

<style>
  .bg-blue {background-color:lightblue;padding:15px;}
  .bg-orange {background-color:darkorange;padding:25px;}
  .bg-creme {background-color: peachpuff;padding: 25px;}
  .bg-creme2 {background-color: peachpuff;padding:  10px;}
  .bg-blue2 {background-color: lightblue;padding: 10px;}
</style>


<nav class="navbar navbar-expand-lg navbar-red bg-creme2">
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <left><img src="https://lh3.googleusercontent.com/nlH0SdnvltU1bhYnkM2-N6GS7rBK4XLazUsZIHmk1tF4JKcN_5cmdPMSX3qr4rhEHG5IezivYwSW403YOKFzOG0t4eBnzGivpT3VqbhPl7erFKRc7uyAxHQu69Skv4goJ1yBGB42-lNXSRGXvoXfiEHZ0tC-e_GS7w04syM0OV8wET6-AeqSLZfV" width = 50 height = 50 alt="Logo"></left>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ">
      <a class="nav-item nav-link active" href="homepage">Home <span class="sr-only"> (Current)</span></a>
      <a class="nav-item nav-link" href="exec">Exec Board</a>
      
      <a class="nav-item nav-link" href="events">Upcoming Events</a>
      <a class="nav-item nav-link" href="contact">Contact Us</a>
      <a class="nav-item nav-link" href="https://docs.google.com/forms/d/e/1FAIpQLSf_4au8MeuJxVECiZattmHR6fjP5h07w8RlA87Ah3hSl_7KlQ/viewform?usp=sf_link">Join HASS!!!</a>
    </div>
  </div>
  <right><img src="https://lh3.googleusercontent.com/nlH0SdnvltU1bhYnkM2-N6GS7rBK4XLazUsZIHmk1tF4JKcN_5cmdPMSX3qr4rhEHG5IezivYwSW403YOKFzOG0t4eBnzGivpT3VqbhPl7erFKRc7uyAxHQu69Skv4goJ1yBGB42-lNXSRGXvoXfiEHZ0tC-e_GS7w04syM0OV8wET6-AeqSLZfV" width = 50 height = 50 alt="Logo"></right>
</nav>


<center class = "bg-blue">
<div class = "page-header">

   <h1>
      <left><img src="https://lh3.googleusercontent.com/5fQbgNPfsh5PodXrQwFdrQ-l9fZP-Z9XNbnQf0AGOubmLThsprvUFtqbUxaYhLWSNYLcDftmNrM0ihlgQrK9V4UeCNxDjmUO2ZdVwVmYmNkNBfGOyEklIyoApKTp9pyrQw-61YmkEWkya8fRTRITmRWBQviI_QytBe6LXpLSMSNhNJmV5t_y4kZL" width = 80 height = 80 alt="Logo"></left> HASS  <right><img src="https://lh3.googleusercontent.com/5fQbgNPfsh5PodXrQwFdrQ-l9fZP-Z9XNbnQf0AGOubmLThsprvUFtqbUxaYhLWSNYLcDftmNrM0ihlgQrK9V4UeCNxDjmUO2ZdVwVmYmNkNBfGOyEklIyoApKTp9pyrQw-61YmkEWkya8fRTRITmRWBQviI_QytBe6LXpLSMSNhNJmV5t_y4kZL" width = 80 height = 80 alt="Logo"></right> 
   </h1>
   <h2>
     <small>Human Animal Support Services</small>
   </h2>
</div>
</center>


  <div class = "bg-creme">
    
    <center><h3>About Us</h3></center>

    <p>
  
    We are a group of animal lovers, mental health advocates, and everyone in between! Our goal is to promote the idea that Animal Assisted Therapy (AAT) bridges the enormous gap between home and all of the places we encounter in everyday life. 

    </p>

    <p>
    School can be a home away from home, complete with faces filled with unconditional love. One of our focuses is to bring animal therapy teams from the UVA hospital and Charlottesville area to help alleviate student stress on Grounds.

    </p> 

    <p>HASS is an amazing opportunity to give back to the Charlottesville community while relieving your own stress. Our organization connects its members with an amazing group of students who care about animals and the well-being of those around them. Whether you have grown up around animals your whole life or never had a pet, HASS is the perfect way to try new things, meet new people, and explore the greater Charlottesville area.</p>

    <p>
    Another key part of our organization is giving back to the community by volunteering at the Charlottesville-Albemarle SPCA as dog walkers and cat socializers, volunteering at Feel Better Farm-Equine, and volunteering at Farm Animal Rescue. 
    </p>

    <center><img src="https://mail.google.com/mail/u/1?ui=2&ik=c0a7801a58&attid=0.3&permmsgid=msg-f:1743171155251320654&th=1830fcee1376574e&view=fimg&fur=ip&sz=s0-l75-ft&attbid=ANGjdJ9UZFTpcyhDpyz3Lwi8QXqIaDNY5O-W63TSZsOtRHT3CfCxiyEbqUBOw5kG7ckSqQ_afMPmXyScMzv8OqEXgyhIRs-g80i9ZDLdQEcCBVKl9aEnfE7wV7IMdSY&disp=emb&realattid=182ec745eeaf297c971" alt="Doggo"></center>


  <div class = "bg-blue">
    
    <center><h3>Partner Organizations</h3></center>
  </div>

  <div class = "bg-creme">

    <center><h5><small> <img src="https://dl5zpyw5k3jeb.cloudfront.net/organization-photos/39174/1/?bust=1512409338" width = 80 height = 120 alt="CASPCA"> Charlottesville-Albemarle SPCA <img src="https://dl5zpyw5k3jeb.cloudfront.net/organization-photos/39174/1/?bust=1512409338" width = 80 height = 120 alt="CASPCA"></small></h5></center>
    
    <p>
  
    The CASPCA is our biggest volunteer partner at HASS. We have many students volunteer as dog walkers, cat socializers, and helping with various tasks that come up at the CASPCA (washing blankets, sorting food, cleaning crates, etc.) To volunteer as a dog walker or a cat socializer, you will have to complete training with the Volunteer Coordinator, Sarah Lloyd. I have attached the website to begin your volunteering with an online training <a href="https://caspca.org/volunteerfoster/volunteer-at-the-caspca/">here</a>. After you complete your online training you will need to contact Sarah to set up an in-person orientation. Adelle is working on setting up a group orientation and we will be sending out carpool information for an orientation once enough members have completed the online training.

    </p>


</div>

<div class="bg-creme">

    <center><h5><small>Fido Field Trips</small></h5></center>

    <p>
    
    In addition to volunteering at the CASPCA, they allow for members of the Charlottesville community to take dogs from the shelter for a few hours on a selected day for a fido field trip. You can bring the dogs to grounds, snuggle with them on your couch, or take them hiking up humpback. These field trips provide the dogs time away from the shelter and are great opportunities for socialization. Many dogs who have been spotted during fido field trips have been adopted shortly afterwards so if you are interested in finding a dog to spend one of the days of the week with you please go to the <a href="https://caspca.org/fft/">website</a> and sign up. Ketchup from the activities fair was on a fido field trip and I hope he showed you how great they can be for the shelter dogs!



    </p>
  


    <center><img src="https://v892w2ylk4g429cyct840kvh-wpengine.netdna-ssl.com/wp-content/uploads/2019/11/IMG_7086-e1573318747123-scaled.jpg" width = 250 height = 340 alt="Fido Field Trip"></center>
 </div>   


<div class="bg-creme">

    <center><h5><small>Feel Better Farm</small></h5></center>

    <p>
    
    The second major organization that HASS volunteers with is Feel Better Farm (FBF). FBF is an animal rescue sanctuary dedicated to rescuing and rehoming farm animals. The owner of FBF, Sarah Osborn-Barwick, is a wonderful person and she really appreciates all of the help that HASS volunteers provide for her. FBF is located about 25 minutes from UVA (address: 8902 Langhorne Rd, Esmont, VA 22937). Sarah welcomes volunteers any time that you are free to come and help socialize the animals, give them baths, help with fencing, and any other hands-on work that you want to do. She makes sure that her volunteers are only doing tasks that they feel comfortable with. If you have a car and would be interested in volunteering at FBF in your free time please email me or Sarah at <b>feelbetterfarm@outlook.com </b>for more information about how to get started. If you are nervous to start on your own the first few times I would love to go with you and we could work together!
    </p>
    <p>
    If you read about FBF and really want to get involved but don’t have a way to get there, don’t fear. In addition to providing regular volunteers, HASS has 2 big volunteer workdays each semester where several members will carpool to FBF together and work for about 6 hours. Sarah is always wonderful and provides the volunteers lunch and plenty of snacks and it is a great way to get the know members of HASS and all of the adorable animals at FBF. This semester we are planning on having these volunteer days happen on September 25th and November 5th.


    </p>
  
    <center><img src="https://lh3.googleusercontent.com/VwuNGFfk2JSrugjKTmlXINJQYjLSoc5nrurJZMIz4_a-d52w2ztluQglaPH0366l4Dm847YIA2kyBfjxG6GXhA7AueZsKw12_cdEyYRrmso9HL3jWqhjCX1EVAe3qfDQvFjyrRdlUaZWjpqSmKIXGNfB7mFivyIrniAuUqFoMudtgaphjg6c6HTKHQ" width = 600 height = 300 alt="Feel Better Farms"></center>


 </div>  


 <div class="bg-creme">

    <center><h5><small>Hogs and Kisses</small></h5></center>

    <p>
    
   The third organization that members of HASS spend lots of time volunteering with is Hogs and Kisses. Hogs and Kisses is a micro-sanctuary that small groups of rabbits and pigs call home. The founder of this sanctuary, Anne Molina, is focused on saving the lives of farm animals and supporting local wildlife around Charlottesville. Hogs and Kisses’ mission is to create the best possible life for farm animals while inspiring compassion for all living beings. Similarly to FBF, Anne loves to have volunteers each day, especially during feeding times. Feeding happens at 8 am and 5 pm and she asks for volunteers to commit to about an hour and a half when they go. Anne’s email is <b>amolina@hogsandkisses.org </b>so please reach out if you are interesting in volunteering at Hogs and Kisses. 


    </p>
    <p>
    We will also be having group volunteer days at Hogs and Kisses but those dates are still up in the air.


    </p>
  
    <center><img src="https://mail.google.com/mail/u/1?ui=2&ik=c0a7801a58&attid=0.6&permmsgid=msg-f:1743171155251320654&th=1830fcee1376574e&view=fimg&fur=ip&sz=s0-l75-ft&attbid=ANGjdJ_qlMZPajP7pXA9FL9LmwGSHdHIFfITjn7v70JcLFjnhX6oyjGwrHrKTZfb_eGDQF_XfPx8VsI-sKZjI7CJZrhOUOgM78zzCz0IWuUQGzpRlS-JUBl-iwhBA0E&disp=emb&realattid=182ec745eebec7b01c3" width = 250 height = 340 alt="Hogs and Kisses"></center>
 </div>  
  

<div class="bg-creme">

  <center><h5><small>Therapy Dog Events</small></h5></center>
  
  <p>
    If volunteering at one of the organizations above is not something that interests you, HASS also has several therapy dog events every semester for its members and the other students at UVA. Olivia is working with our therapy dog handlers to find their available times but we are working on setting up events on grounds as well as partnerships with the UVA hospital. Therapy dogs help destress patients and students alike and I really hope that all of you will be able to make it to one of the events this semester because our therapy dogs are so cute. Watch out for dates on the upcoming events page!


  </p>



</div>



  </div>


